:root {
  --bg: #bdc5f4;
  --card: #ffffff;
  --text: #1f2937;
  --muted: #6b7280;
  --brand: #715eb1;
  --radius: 12px;
  --radio-hero: 12px;
  --max-width: 1100px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;

}


body {
  font-family: Helvetica, Arial;
  line-height: 1.6;
  background-color: var(--bg);
  color: var(--text);
}

.container {
  /*esto debe ser la estructura mas rara que hice hasta ahora*/
  width: min(100% - 2rem, var(--max-width));
  margin-inline: auto;
  padding: 1rem;

}


header.header {
  background-color: var(--bg);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 4px solid #e5e7eb;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0;

}

/*menu desplegable*/
.menu-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: var(--text);
  cursor: pointer;
}

.logo img {
  display: flex;
  height: 6rem;
  object-fit: contain;
}

.menu ul {
  display: flex;
  gap: 1rem;
}

/*hero o links a las paginas*/
.menu a {
  text-decoration: none;
  color: var(--text);
  background-color: #e1e5f9;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: var(--radio-hero);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.menu a:hover {
  color: var(--brand);
}


.hero {
  text-align: center;
  padding: 3rem 1rem;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.hero p {
  font-size: 1.1rem;
  color: var(--muted);
}

.features {
  padding: 2rem 1rem;

}

.features h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;

}

.features ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

}

.features a {
  text-decoration: none;
  color: var(--text);
}

.features li {
  /*texto*/
  text-align: center;
  align-items: center;
  font-weight: 700;
  /*caja*/
  background-color: var(--card);
  padding: 1.5rem;
  padding-bottom: 1.5rem;
  border-radius: var(--radius);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 4rem;

}

footer.footer {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 0.9rem;
}

footer a {
  color: var(--text);
  text-decoration: none;
}

footer a:hover {
  /*cuando el cursor esta arriba del texto*/
  color: var(--brand);
  text-decoration: underline;
}

@media (max-width: 700px) {

  .nav {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .features ul {
    flex-direction: column;
  }

  .features li {
    flex: 1 1 2rem;
  }

  .menu-toggle {
    display: block;
  }

  menu-toggle {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    z-index: 1001;
    /* siempre arriba del menú */
  }

  .menu ul {
    display: none;
    flex-direction: column;
    background-color: var(--card);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .nav {
    display: flex;
    flex-direction: row;
  }

  .menu ul.active {
    display: flex;
  }

  .menu ul li {
    text-align: center;
    margin: 0.5rem 0;
  }
}